@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CompanionRelationshipcalculator for Mount & Blade,
	primarily for Warband vanilla but asuming that
	relationships between companions have the same structure
	it should work for any mod</p>
